<div class="jumbotron"></div>
<div class="container-small">
    <p class="about-notes">
        My name is Grant Mercer. I'm not any notable slackliner, but I do really
        enjoy slacklining as well as programming.
    </p>
    <p class="about-notes">
        Slackline Picker is built in Angular.js from the ground up, with all home
        grown code! (minus the plethora of js libraries used). In my day job, and
        pretty much all my life, i've been a backend systems developer using mostly
        C++. SlacklinePicker has been a really neat challenge in writing web applications,
        on top of desiging my own site.
    </p>
    <p class="about-notes">
        This about page is pretty poorly formatted, but ya'know who cares about these
        pages anyway. That's me up there slacklining! woo!
    </p>
</div>
