<div class="jumbotron"></div>
<div class="container container-small bottom-margin">
    <div class="pull-right">
        <a href="#/" style="display: inline-block;" class="btn btn-default" id="backbutton">Go Back</a>
    </div>
    <h2 class="about-author-header">About the Author</h2>
    <p class="about-notes">
        My name is Grant Mercer. I'm not any notable slackliner or anything, but I do really
        enjoy slacklining as well as programming. Slackline Picker is built in Angular.js
        from scratch, no predefined site templates or code were used (beyond the libraries!).
        The site is techniacally memoryless, it does not contain any sort of database and
        instead uses a couple different nead cloud tricks to store and load information.
    </p>
    <p class="about-notes">
        Building SlacklinePicker was a lot of fun, and borderline was an obession during
        the time I was building it. I'm about a month or so into learning web development,
        coming from a background of growing up with C++ as my main language. I hope this site
        can be of some use to the community, afterall that was my intended goal.
    </p>

    <h2 class="about-author-header">About the Database Used</h2>
    <p class="about-notes">
        The database was built based off the
        <span>
            <a style="color: black; text-decoration: underline" href="https://www.facebook.com/notes/slackchat/slackline-brands/564854830255065">
                Slackchat Brands Page.
            </a>
        </span>
        You'll notice some of these items (or brands) are missing from the database.
        There are a couple reasons why I was unable to add items/brands:
    </p>
    <ul class="about-notes">
        <li>Site was not translatable to English</li>
        <li>Item is a trickline component(sorry, not supporting these items!)</li>
        <li>Not related to slack kits (swag)</li>
    </ul>
    <p class="about-notes">
        If you have any recommendations on brands I should add, or would like to help out
        with the process of adding brands to this site. Feel free to get in touch with me @
        gmercer015@gmail.com
    </p>
</div>
