<div class="container table-like">
    <a id="backbutton" class="btn btn-default" href="#/">Done</a>
    <div class="row" id="row-overflow">
        <div class="col-xs-12 col-md-3">
            <div class="dropdown" ng-click="categoryClicked=true">
                <button class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">
                    Category
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="categoryLoader('')" class="pointer">
                            None
                        </a>
                    </li>
                    <li ng-repeat="category in api_categories">
                        <a ng-click="categoryLoader(category.name)" class="pointer">
                            {{ category.name | capitalize }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown" id="dropdown-subcategory">
                <button id="dropdown-button-sub" class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">
                    Subcategory
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>
                        <a ng-click="categoryLoader(currentCategory.name)">
                            None
                        </a>
                    </li>
                    <li ng-repeat="subcategory in currentCategory.subcategories">
                        <a ng-click="subcategoryLoader(currentCategory.name, subcategory)" class="pointer">
                            {{ subcategory | capitalize }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="filters desktop" id="neg-margin">
                <h5 class="title-box"> </h5>
                <p class="description-box">
                    Please note all prices are an <span><strong>estimation</strong></span>.
                    prices may vary over time and could take time to be updated manually.
                    <br><br>
                    All Webbing is priced <span><strong>By the foot</strong></span>, and
                    all prices are <span><strong>US Dollars</strong></span>. The conversion
                    used for Euro -> Dollar is currently <span><strong>1.10</strong></span>
                    <br><br>
                    Browse item descriptions and visit their product page by clicking on the
                    database entry, add items using the plus-button.
                    <br><br>
                    If you have any questions or issues with the database, don't hesitate to
                    shoot me an email: gmercer015@gmail.com
                </p>
            </div>

        </div>
        <div class="col-xs-12 col-md-9">
            <img ng-hide="loaded" src="img/ajax-loader.gif" id="loader">
            <productlist info="lproducts"
                         config="scrollbarConfig"
                         clicked="isClicked(idx)"
                         filt=euroFilter>
            </productlist>

            <div class="filters mobile-v">
                <h5 class="title-box"> </h5>
                <p class="description-box mobile">
                    Please note all prices are an <span><strong>estimation</strong></span>.
                    prices may vary over time and could take time to be updated manually.
                    <br><br>
                    All Webbing is priced <span><strong>by the foot</strong></span>, and
                    all prices are <span><strong>US Dollars</strong></span>. The conversion
                    used for Euro -> Dollar is currently <span><strong>1.10</strong></span>
                    <br><br>
                    Browse item descriptions and visit their product page by clicking on the
                    database entry, add items using the plus-button.
                    <br><br>
                    If you have any questions or issues with the database, don't hesitate to
                    shoot me an email: gmercer015@gmail.com
                </p>
            </div>
        </div>

    </div>
</div>
