<div class="container">
    <a id="backbutton" class="btn btn-default" href="#/">Go Back</a>
    <div class="row">
        <div class="col-xs-3 col-md-3">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">
                    Category
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li>Hardware</li>
                    <li>Webbing</li>
                    <li>Pulley</li>
                </ul>
            </div>
            <div class="filters">
                <p>test</p>
            </div>
        </div>
        <div class="col-xs-9 col-md-9">
            <productlist info="lproducts"></productlist>
        </div>
    </div>
</div>
