<div class="container">
    <a id="backbutton" class="btn btn-default" href="#/">Go Back</a>
    <div class="row">
        <div class="col-xs-3 col-md-3">
            <div class="dropdown" ng-click="categoryClicked=true">
                <button class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">
                    Category
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#/additem/">None</a></li>
                    <li ng-repeat="category in api_categories">
                        <a href="#/additem/{{ category.name }}">
                            {{ category.name | capitalize }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown" id="dropdown-subcategory">
                <button id="dropdown-button-sub" class="btn btn-primary dropdown-toggle"
                        type="button"
                        data-toggle="dropdown">
                    Subcategory
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#/additem/{{ currentCategory.name }}">None</a></li>
                    <li ng-repeat="subcategory in currentCategory.subcategories">
                        <a href="#/additem/{{ currentCategory.name }}/{{ subcategory }}">
                            {{ subcategory | capitalize }}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="filters">
                <h5 id="title-box"> </h5>
                <p id="description-box"></p>
            </div>
        </div>
        <div class="col-xs-9 col-md-9">
            <productlist info="lproducts" config=scrollbarConfig></productlist>
        </div>
        <img id="spinner" src="img/loader.gif"/>
    </div>
</div>
