<div class="container">
    <h2>Recent Builds</h2>
    <div ng-scrollbars ng-scrollbars-config="config">
        <table class="table-responsive table table-striped">
            <thread>
                <tr class="no-stripe">
                    <th colspan="7"><input st-search="" class="form-control db-search" placeholder="search all kits..." type="text" /></th>
                </tr>
                <tr>
                    <th><span class="hover-pointer">Name</span></th>
                    <th><span class="hover-pointer">Author</span></th>
                    <th><span class="hover-pointer">Price</span></th>
                    <th></th>
                </tr>

            </thread>
            <tbody>
                <tr>
                    <td>Low Cost Kit</td>
                    <td>Grant Mercer</td>
                    <td>$698</td>
                    <td><a href="" class="btn btn-default">Go</a>
                </tr>
                <tr>
                    <td>Low Cost Kit</td>
                    <td>Grant Mercer</td>
                    <td>$698</td>
                    <td><a href="" class="btn btn-default">Go</a>
                </tr>
                <tr>
                    <td>Low Cost Kit</td>
                    <td>Grant Mercer</td>
                    <td>$698</td>
                    <td><a href="" class="btn btn-default">Go</a>
                </tr>
            </tbody>
        </table>
    </div>
</div>
