<div class="container-small">
    <div class="row display" ng-repeat="item in kit">
        <div class="col-xs-2 col-md-2 center">
            <p class="category-label">{{ item.category }}</p>
        </div>
        <div class="col-xs-2 col-md-2 center">
            <p class="category-label subcategory">{{ item.subcategory }}</p>
        </div>
        <div class="col-xs-5 col-md-5 left">
            <a href="" class="item-label">{{ item.name }}</a>
        </div>
        <div class="col-xs-3 col-md-3 right">
            <p class="price-label">{{ item.price }}</p>
            <a href="" class="notes-label">Show Notes</a>
        </div>
    </div>
    <div class="row display">
        <div class="col-xs-2 col-md-2 left">
            <a href="#/additem" class="add-item-label">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Item
            </a>
        </div>
    </div>
    <div class="row display total">
        <p class="create-new" ng-click="wipeKit()">New Kit</p>
        <div class="pull-right">
            <p class="price-total-label">$500</p>
        </div>
    </div>
</div>
<div class="footer">
    <a href="">Share this kit</a>
</div>
