<div ng-init="addNotesChecker = false" class="container-small">
    <div class="row display" ng-repeat="item in kit | orderBy : ['-category','subcategory']">
        <div class="col-xs-2 col-md-2 center">
            <p class="category-label">{{ item.category | capitalize}}</p>
        </div>
        <div class="col-xs-2 col-md-2 center">
            <p class="category-label subcategory">{{ item.subcategory | capitalize}}</p>
        </div>
        <div class="col-xs-5 col-md-5 left">
            <a href="{{ item.link }}"
               target="_"
               class="item-label">
                {{ item.name }}
                <span ng-if="item.amount > 1"> x {{ item.amount }}</span>
            </a>
        </div>
        <div class="col-xs-3 col-md-3 right">
            <p ng-if="item.amount != null" class="price-label">
                {{ item.price * item.amount | currency }}
            </p>
            <p ng-if="item.amount == null" class="price-label">
                {{ item.price | currency }}
            </p>

            <!-- If sharing: change 'Add' to 'Show', and hide delete button -->
            <p ng-if="viewAsShareable != true" ng-click="toggleNotes(item.id)" class="notes-label">Add Notes</p>
            <p ng-if="viewAsShareable && item.notes != null" ng-click="showReadOnlyNotes(item.id)" class="notes-label">Show Notes</p>
            <p ng-if="viewAsShareable && item.notes == null" class="notes-label hide-this">Show Notes</p>
            <span ng-if="viewAsShareable != true" ng-click="removeItem(item.id)" class="glyphicon glyphicon-trash"></span>

        </div>
    </div>
    <div class="row display">
        <div class="col-xs-2 col-md-2 left">
            <!-- If we are sharing a build, do not allow them to edit -->
            <a ng-if="viewAsShareable != true" href="#/additem" class="add-item-label">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Item
            </a>
        </div>
    </div>
    <div class="row display total">

        <!-- If sharing a build, New Kit simply should redirect to the actual app -->
        <p ng-if="viewAsShareable != true" class="create-new" ng-click="wipeKit()">New Kit</p>
        <p ng-if="viewAsShareable" class="create-new"><a href="#/" class="create-new">New Kit</a></p>

        <div class="col-xs-3 col-md-3 pull-right right">
            <p class="price-total-label">{{ total | currency }}</p>

            <!-- This is such a hacky solution to line up the price lol, I'm sorry -->
            <p ng-if="viewAsShareable != true" class="notes-label hide-this">Add Notes</p>
            <p ng-if="viewAsShareable" class="notes-label hide-this">Show Notes</p>
            <span ng-if="viewAsShareable != true" class="glyphicon glyphicon-trash hide-this"></span>
        </div>
        <div class="pull-right">
            <h3>Total:</h3>
        </div>
    </div>
</div>
<div class="footer">
    <!-- no need to reshare shared build -->
    <p ng-if="viewAsShareable != true" ng-click="generateShareableHook()" class="share-this">
        Share this kit
    </p>

    <div class="pull-right">
        <a class="email-me" href="mailto:gmercer015@gmail.com">
            Issues or suggestions?
        </a>
    </div>


    <modal-dialog show='shareLink' dialog-title='Slackline Kit Picker' height='150px' width='450px'>
        <p class="shareable-link-text">http://localhost:8080/#/share/{{ link }}</p>
        <div class="pull-left">
            <button clipboard href="" class="btn btn-default" id="copy"
                    text="'www.slacklinepicker.com/#/share/' + link"
                    ng-click="showCopiedLabel()">
                Copy To Clipboard
            </button>
            <p class="show-hide" id="show-copied">Copied!</p>
        </div>
    </modal-dialog>

</div>

<modal-dialog show="addNotesChecker" dialog-title="Product Notes" width="500px"
              on-close="saveNotes()">
    <p ng-if="viewAsShareable != true">Add notes about this product for others to view when shared:</p>
    <p ng-if="viewAsShareable">Authors notes about this product:</p>
    <div class="form-group">
        <label ng-if="viewAsShareable != true" for="comment" class="form-notes-title">Notes:</label>
        <textarea class="form-control" rows="5" id="notes"></textarea>
    </div>
</modal-dialog>
