<div class="container-small">
    <div class="row display">
        <div class="col-xs-2 col-md-2 center">
            <p class="category-label">Hardware</p>
        </div>
        <div class="col-xs-6 col-md-6 left">
            <a href="" class="item-label">Alpine WL 4.0</a>
        </div>
        <div class="col-xs-4 col-md-4 right">
            <p class="price-label">$500</p>
            <a href="" class="notes-label">Show Notes</a>
        </div>
    </div>
    <div class="row display">
        <div class="col-xs-2 col-md-2 left">
            <a href="#/additem" class="add-item-label">
                <span class="glyphicon glyphicon-plus-sign"></span>
                Add Item
            </a>
        </div>
    </div>
    <div class="row display total">
        <div class="pull-right">
            <p class="price-total-label">$500</p>
        </div>
    </div>
</div>
<div class="footer">
    <a href="">Share this kit</a>
</div>
