<div ng-scrollbars ng-scrollbars-config="config" class="overflow">
    <table st-table="displayInfo" st-safe-src="info" class="table-responsive table table-hover">
        <thread>
            <tr class="no-hover">
                <th colspan="7"><input st-search="" class="form-control db-search" placeholder="search all categories..." type="text" /></th>
            </tr>
            <tr>
                <th st-sort="name"><span class="hover-pointer">Name</span></th>
                <th st-sort="category"><span class="hover-pointer">Category</span></th>
                <th st-sort="subcategory"><span class="hover-pointer">Subcategory</span></th>
                <th st-sort="brand"><span class="hover-pointer">Brand</span></th>
                <th st-sort="price"><span class="hover-pointer">Price</span></th>
                <th>Amount</th>
                <th></th>
            </tr>

        </thread>
        <tbody>
            <tr ng-repeat="product in displayInfo"
                ng-click="fillDescription(product)">
                <td>{{ product.name }}</td>
                <td>{{ product.category | capitalize}}</td>
                <td>{{ product.subcategory | capitalize }}</td>
                <td>{{ product.producer }}</td>
                <td>{{ product.price | currency}}</td>
                <td>
                    <input type="text"
                           class="amount"
                           id="amount-box{{ $index }}"
                           value="1"/>
                </td>
                <td>
                    <span ng-if="clicked({idx: product.id}) == true"
                          class="glyphicon glyphicon-ok"
                          id="glyphicon{{ $index }}">
                    </span>
                    <span ng-if="clicked({idx: product.id}) == false"
                          ng-click="addToKit($index, product)"
                          class="glyphicon glyphicon-plus"
                          id="glyphicon{{ $index }}">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
